* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(to right, #1a1a1a, #202020, #393939);
}

.item {
    /* background-color: gold; */
    border: 1px solid #fff;
}



.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 85px 1fr;
    grid-auto-rows: minmax(60px, auto);
    grid-template-areas: 
        "header header "
        "sidebar content";
}

.header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "content-title"
        "content-info";
}

.content .content-title {
    grid-area: content-title;
}
.content .content-title .content-title-heading {
    color: #fff;
    font-size: 36px;
    margin-left: 22px;
    line-height: 50px;
}

.content .content-info {
    grid-area: content-info;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(380px, 1fr));
}

.content .content-info .article {
    /* background-color: gold; */
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .article-car {
    background-color: #181a1b;
    border: 1px solid #fff;
    color: #fff;
    display: grid;
    height: 282px;
    grid-template-rows: 36px 120px 40px 50px 36px; 
    width: 320px;
    border-radius: 30px;
}

.content .article-car .article-car-item {
    margin-left: 32px;
}

.article-car .act-5,
.article-car .act-1 {
    line-height: 36px;
    font-size: 13.6px;
}

.article-car .act-3 {
    font-size: 24px;
    line-height: 40px;
}
.article-car .act-4 {
    font-size: 30px;
    line-height: 50px;
}
.article-car .act-img {
    height: 120px;
}

